* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Navbar */

.navbar {
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/*box1*/

.nav-logo {
    position: relative;
    top: 5px;
    left: 0px;
    height: 50px;
    width: 165px;
    padding: 2px 5px 0px 5px;
}

.PriceSnap-nav {
    position: absolute;
    left: 0px;
    top: 10px;
}

.logo {
    position: absolute;
    left: 120px;
    background-image: url(icon_pricesnap-removebg-preview.png);
    height: 40px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/*box2*/

.nav-address {
    padding: 5px 5px 5px 0px;
}

.deliver_to {
    font-size: 0.6rem;
    color: #cccccc;
    margin-left: 27px;
}

.india {
    font-size: 0.8rem;
}

.add-icon {
    display: flex;
    align-items: center;
    margin-left: 7.7px;
}

/*box3*/

.nav-search {
    display: flex;
    background-color: pink;
    width: 100%;
    max-width: 800px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin: 0px 10px;
}

.nav-search:hover {
    border: 2.5px solid #ffbe69;
}

.search-select {
    background-color: #f3f3f3;
    border-radius: 4px 0px 0px 4px;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    border: none;
    width: 100%;
    font-size: 1rem;
}

.search-icon {
    background-color: #ffbe69;
    border-radius: 0px 4px 4px 0px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}

/* box4 */

.nav-signin {
    padding: 2px 5px 5px 5px;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/*box5*/

.nav-return {
    padding: 2px 5px 5px 5px;
}

/*box6*/

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 5px;
}

/* Panel */

.panel {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    align-content: center;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

.panel-all {
    padding: 3px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    padding: 3px;
}

.panel-ops {
    width: 70%;
    font-size: 0.88rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 5px;
}

/* Hero Section */

.hero-section {
    height: 400px;
    background-size: cover;
    background-image: url(sources/Top_deals_hero.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.hero-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: white;
    color: #0f1111;
    font-size: 0.9rem;
    width: 80%;
    /* margin-top: 10px; */
    border: 2px solid black;
}

.hero-msg a {
    color: #007185;
}

/* Shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    font-size: 1rem;
}

.product-content {
    display: flex;
}

.add-cart {
    position: relative;
    left: 100px;
}

.box {
    border: 2px solid black;
    height: auto;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    color: #007185;
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
    text-decoration: none;
}

button {
    height: 35px;
    width: 90px;
}
/* Footer */

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    text-decoration: none;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel3 .logo {
    position: relative;
    left: 10px;
}

.foot-panel4 {
    height: 80px;
    background-color: #131a22;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 15px;
    color: #dddddd;
}

.pages a {
    margin-left: 20px;
}

/* Media Query */

/*mobile behaviour*/
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }

    .nav-search {
        order: 3;
        width: 90%;
        margin: 10px auto;
    }

    .nav-signin,
    .nav-cart,
    .nav-address {
        font-size: 0.75rem;
    }
}

/*Tab*/
@media (max-width: 1024px) {
    .box {
        width: 45%;
    }
}

/*Phone*/
@media (max-width: 768px) {
    .box {
        width: 90%;
    }

    .product-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-cart {
        left: 0;
        margin-top: 10px;
    }
}

/*Tab-navbar*/
@media (max-width: 1024px) {
    .nav-search {
        max-width: 600px;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 10px;
    }
}

/*Mobile-navbar*/
@media (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }

    /* Logo section */
    .nav-logo {
        width: 100%;
        justify-content: center;
        display: flex;
        position: relative;
    }

    /* Address, Sign-in, Cart */
    .nav-address,
    .nav-signin,
    .nav-cart {
        font-size: 0.7rem;
        padding: 5px;
    }

    /* Search bar full-width */
    .nav-search {
        order: 3;
        width: 95%;
        margin: 10px auto;
    }

    /* Panel below navbar */
    .panel {
        flex-wrap: wrap;
        height: auto;
        padding: 5px 0;
    }

    .panel-ops {
        width: 100%;
        text-align: center;
    }

    .panel-ops p {
        margin: 5px;
        display: inline-block;
    }
}


/*Hero section*/
@media (max-width: 768px) {
    .hero-section {
        height: 150px;
        background-position: center;
    }

    .hero-msg {
        font-size: 0.8rem;
        width: 95%;
        text-align: center;
    }
}

/*foot-mobile*/
@media (max-width: 768px) {
    .foot-panel3 {
        flex-direction: column;
    }

    .pages a {
        display: block;
        margin: 5px 0;
    }

    .foot-panel4 {
        height: auto;
        padding: 10px 0;
    }
}

